<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>
    <%- include('../layout/head'); %>
</head>
<body>
    <div class="container">
        <%- include('../layout/nav'); %>
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit Post
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <%if(data.error){%>
                            <div  id="login-alert" class="alert alert-danger col-sm-12">
                                <%=data.error%>
                            </div>
                            <%}%> 
                        <form action="" role="form" method="" action="">
                            <input type="hidden" name="id" class="id"  value="<% if(data.post){%> <%=data.post.id%><%}%>">
                            <div class="form-group">
                                <label for="">Title</label>
                                <input type="text" class="form-control title" name="title" placeholder="Title"
                                value="<% if(data.post){%> <%=data.post.title%><%}%>">
                            </div>
                            <div class="form-group">
                                <label for="">Content</label>
                                <textarea name="content" id="content" class="form-control content" placeholder="Content">
                                    <% if(data.post){%> <%=data.post.content%><%}%>
                                </textarea>
                            </div>
                            <div class="form-group">
                                <label for="">Author</label>
                                <input type="text" class="form-control author" name="author" placeholder="Author"
                                value="<% if(data.post){%> <%=data.post.author%><%}%>" >
                            </div>
                            <input type="button" value="Edit" class="btn-success post_edit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"src="/static/js/post.js"></script>
</body>
</html>