<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../lib/index'); %>
    <link rel="stylesheet" href="/static/theme/css/styles.css">
    <name>User</name>
</head>
<body>
    <div class="container">
        <section class="vh-100">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                  <div class="card" id="list1" style="border-radius: .75rem; background-color: #eff1f2;">
                    <div class="card-body py-4 px-4 px-md-5">
          
                      <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
                        <i class="fas fa-check-square me-1"></i>
                        <i class="my_todo" email=<%=data.email%> >My Todo</i>
                      </p>
          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <div class="panel panel-default">
            <div class="panel-heading">
                Lists
            </div>
            <div class="panel-body">
                <div class="">
                    <table class="table  table-bordered table-hover">
                        <thead>
                            <tr style="text-align: center;">
                                <td style="width:20px">Done</td>
                                <td style="width:20px">Failure</td>
                                <td>Title</td>
                                <td>Content</td>
                                <td>Action</td>
                            </tr>
                        </thead>
                        <tbody  class="tbody"  id="tasks">
                          <%if(data.tasks.length){%>
                            <%for(var i=0;i<data.tasks.length;++i){%>
                              <tr pos="<%=i%>" id="<%=data.tasks[i].id%>">
                                <th >
                                  <input class="form-check-input done" type="checkbox" <%if(data.tasks[i].done){%>checked<%}%> check="<%=data.tasks[i].status == 1%>" id="<%=data.tasks[i].id%>">
                                </th>
                                <th>
                                  <input class="form-check-input failure" type="checkbox" <%if(data.tasks[i].failure){%>checked<%}%> check="<%=data.tasks[i].status == 2%>" id="<%=data.tasks[i].id%>">
                                </th>
                                <th class="title_task"><%=data.tasks[i].name%></th>
                                <th class="content_task"><%=data.tasks[i].content%></th>
                                <th>
                                    <button class="btn btn-primary edit" id="<%=data.tasks[i].id%>">Edit</button>
                                    <button class="btn btn-danger delete" id="<%=data.tasks[i].id%>">Delete</button>
                                </th>
                              </tr>
                            <%}%>
                          <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- form add-->
        <div class="add_form" style="display: none;" id="task_form">
          <form  role="form" method="" action="">
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" id="task_form_name" class="form-control name" name="name" placeholder="Name...">
            </div>
            <div class="form-group">
                <label for="">Content</label>
                <textarea name="content" id="task_form_content" class="form-control content" placeholder = "Content..."></textarea>
            </div>
            <input type="button" value="SAVE" class="btn btn-success save_form" id="save_task">
           </form>
        </div>


        <!-- add Task -->
          <div class="row" style="margin-bottom:10px;margin-top:30px;" id="add_task">
            <div class="col-md-12">
                <button class="btn btn-success add_task">Add New Task</button> 
            </div>
         </div>
    </div>
    <script src="/static/theme/js/scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
</body>
</html>